* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 768px;
  width: 100%;
  margin: 5px auto;
  padding: 0.7rem 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
