.welcome {
  font-weight: 400;
  margin-top: 20px;
}

.disclaimer {
  font-weight: 400;
  margin-top: 20px;
  font-size: 1rem;
  color: #505050;
}

.input,
.result {
  width: 100%;
  padding: 20px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
}

.input {
  margin: 25px 0 10px 0;
  border: 0.5px solid #d3d3d3;
  background-color: #fff;
}

.result {
  margin: 20px 0;
  border: 0.5px solid #d3d3d3;
  background-color: #fafafa;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clipboardButton,
.resetButton {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.clipboardButton {
  background-color: #ff3e00;
  color: #ffffff;
  margin-top: 4px;
  margin-bottom: 2px;
}

.clipboardButton:hover {
  background-color: #df3b04;
}

.resetButton {
  background-color: #fff;
  color: #505050;
  margin-top: 10px;
  margin-bottom: 2px;
}

.resetButton:hover {
  color: #df3b04;
}
